<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer_geek.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @beer_geek.desc %>
</p>

<%= link_to 'Edit', edit_beer_geek_path(@beer_geek) %> |
<%= link_to 'Back', beer_geeks_path %>
